{% extends 'base_table_old.html' %}
{% load static %}


{% block contenido %}
{% block table_datatable %}
{% include 'menu/menu_facturacion.html' %}
<style>
.ui-autocomplete {
    z-index: 2050;
}

</style>
<table id="tabla_facturas" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th width="4%"></th>
            <th class="text-left">Autogenerado</th>
            <th class="text-left">Serie</th>
            <th class="text-left">Prefijo</th>
            <th class="text-left">Numero</th>
            <th class="text-left">Cliente</th>
            <th class="text-left">MASTER</th>
            <th class="text-left">HOUSE</th>
            <th class="text-left">Concepto</th>
            <th class="text-left">Monto</th>
            <th class="text-left">IVA</th>
            <th class="text-left">IVA total</th>
            <th class="text-left">Monto total</th>
        </tr>

        </thead>
        <tbody>

        </tbody>
        <tfoot>
        <tr>
          <th width="4%"></th>
            <th class="text-right">Autogenerado</th>
            <th class="text-right">Serie</th>
            <th class="text-right">Prefijo</th>
            <th class="text-right">Numero</th>
            <th class="text-right">Cliente</th>
            <th class="text-right">MASTER</th>
            <th class="text-right">HOUSE</th>
            <th class="text-right">Concepto</th>
            <th class="text-right">Monto</th>
            <th class="text-right">IVA</th>
            <th class="text-right">IVA total</th>
            <th class="text-right">Monto total</th>
        </tr>
        </tfoot>
    </table>

<div id="facturaM" style="display: none;padding:20px;">
    <div class="border rounded p-4 bg-light" >
        <form method="post" action="" id="facturaForm">
            {% csrf_token %}
            <div style="display:grid;align-content:baseline;justify-content:start;">
                 <h3 id="tipoSeleccionado" style="font-weight: bold; color: white; font-family: Arial, sans-serif; background-color: black; display: inline-block; padding: 3px; border-radius: 3px">
            </h3>
            <button type="button" id="preventa" class="btn btn-warning">Preventa</button>
            </div>
            <br>
            <div class="col-md-2">
                {{ form.tipo.label_tag }}
                {{ form.tipo }}
            </div>
            <br>
            <div class="row">
                <div class="col-md-1">
                    {{ form.serie.label_tag }}
                    {{ form.serie }}
                </div>
                <div class="col-md-1">
                    {{ form.prefijo.label_tag }}
                    {{ form.prefijo }}
                </div>
                <div class="col-md-2">
                    {{ form.numero.label_tag }}
                    {{ form.numero }}
                </div>
                <div class="col-md-2 offset-md-6">
                    {{ form.fecha.label_tag }}
                    {{ form.fecha }}
                </div>
            </div>
            <br>
            <div class="row mt-3">
                <div class="col-md-2" id="id_moneda">
                    {{ form.moneda.label_tag }}
                    {{ form.moneda }}
                </div>
                <div class="col-md-2">
                    {{ form.arbitraje.label_tag }}
                    {{ form.arbitraje }}
                </div>
                <div class="col-md-2">
                    {{ form.paridad.label_tag }}
                    {{ form.paridad }}
                </div>
                <div class="col-md-2">
                    {{ form.imputar.label_tag }}
                    {{ form.imputar }}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-3">
                    <label for="cliente">Buscar Cliente</label>
                    <input type="text" id="cliente" class="form-control" name="cliente" placeholder="Buscar cliente" required>
                </div>
            </div>
            <table id="clienteTable" class="table table-striped mt-4" style="display:none;">
                <thead>
                        <th style="display:none;">Id</th>
                        <th>Empresa</th>
                        <th>RUT</th>
                        <th>Dirección</th>
                        <th>Localidad</th>
                        <th>Teléfono</th>

                </thead>
                <tbody></tbody>
            </table>
            <div class="row mt-3">
                <div class="col-md-3">
                    <label for="item">Buscar Item</label>
                    <input type="text" id="item" class="form-control" name="item" placeholder="Buscar item">
                </div>
                <div class="col-md-4" id="id_descripcion_item">
                    {{ form.descripcion_item.label_tag }}
                    {{ form.descripcion_item }}
                </div>
                <div class="col-md-2" id="id_precio">
                    {{ form.precio.label_tag }}
                    {{ form.precio }}
                </div>
                <div class="col-md-2">
                    <br>
                    <button type="button" id="agregarItem" class="btn btn-success">Agregar Item</button>
                </div>
            </div>
            <div class="d-flex justify-content-end mt-3">
                <button type="button" id="eliminarSeleccionados" class="btn btn-danger" style="display:none;">Eliminar</button>
            </div>
            <table id="itemTable" class="table table-striped mt-4" style="display:none;">
                <thead>
                    <tr>
                        <th style="display:none;">Id</th>
                        <th>Item</th>
                        <th>Descripcion</th>
                        <th>Precio</th>
                        <th>IVA</th>
                        <th>Cuenta</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <div id="totales" style="display: none;">
                <div class="col-md-2 offset-md-10" id="id_neto">
                    {{ form.neto.label_tag }}
                    <input type="text" class="form-control text-end" readonly>
                </div>
                <div class="col-md-2 offset-md-10" id="id_iva">
                    {{ form.iva.label_tag }}
                    <input type="text" class="form-control text-end" readonly>
                </div>
                <div class="col-md-2 offset-md-10" id="id_total">
                    {{ form.total.label_tag }}
                    <input type="text" class="form-control text-end" readonly>
                </div>
                <div class="mt-4">
                    <button type="submit" id="facturar" name="facturar" class="btn btn-primary">Finalizar</button>
                </div>
            </div>
        </form>
    </div>
</div>




{% include 'preventa_modal.html' %}
{% include 'arbitraje.html' %}

{% endblock table_datatable %}

{% block script_datatable %}

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="{% static 'adm_cont/facturacion.js' %}"></script>
{% endblock script_datatable %}
<script>
    var csrf_token = "{{ csrf_token }}";
</script>
{% endblock contenido %}





