{% extends 'base_form.html' %}
{% load static %}

{% block formulario %}

<div class="border rounded p-4 bg-light">
    <form method="post" action="" id="ordenPagoForm">
        {% csrf_token %}

        <div class="row d-flex align-items-center">
            <h3 class="col-md-3 text-center"
                style="font-weight: bold; color: white; font-family: Arial, sans-serif; background-color: black;
               padding: 2px 2px; border-radius: 3px; height: 40px; display: flex; align-items: center; justify-content: center;
               margin-top: 8px;">
                Orden de Pago
            </h3>
            <div class="col-md-2">
                {{ form.numero }}
            </div>
        </div>

        <br>

        <div class="row d-flex align-items-center">
            <div class="col-md-2">
                {{ form.tipo }}
            </div>

            <div class="col-md-2 offset-md-6">
                {{ form.fecha }}
            </div>
        </div>

        <br>

        <div class="row mt-3">
            <div class="col-md-2" id="id_moneda">
                {{ form.moneda.label_tag }}
                {{ form.moneda }}
            </div>
            <div class="col-md-2">
                {{ form.arbitraje.label_tag }}
                {{ form.arbitraje }}
            </div>
            <div class="col-md-2">
                {{ form.paridad.label_tag }}
                {{ form.paridad }}
            </div>
        </div>

        <br>

        <div class="row mt-3">
            <div class="d-flex align-items-center col-md-12">
                <div class="col-md-3">
                    <label for="proveedor"></label>
                    <input type="text" id="proveedor" class="form-control" name="proveedor" placeholder="Buscar proveedor">
                </div>
                <div class="col-md-6 offset-md-1">
                    <table id="proveedorTable" class="table table-striped" style="display:none; text-align:center;">
                        <thead>
                            <tr>
                                <th class="d-none">Codigo</th>
                                <th>Empresa</th>
                                <th>RUT</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="" id="div_tabla" style="display:none; margin-top:5%; max-height:600px;overflow-y:auto;overflow-x:auto;" >
            <table id="imputableTable" class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>VTO</th>
                    <th>Fecha Emisión</th>
                    <th>Documento</th>
                    <th>Monto Total</th>
                    <th>Saldo</th>
                    <th>Detalle</th>
                    <th>Embarque</th>
                    <th>Cuenta</th>
                    <th>Posición</th>
                    <th>TC</th>
                    <th>Moneda</th>
                    <th>Paridad</th>
                    <th>Monto Original</th>
                </tr>
            </thead>
            <tbody>

                </tbody>
            </table>
        </div>

        <br>

        <div class="totalesImputables" style="display: none;">
            <div class="col">
                <div class="col-md-4 mb-3">
                    {{ form.factura.label_tag }}
                    {{ form.factura }}
                </div>
                <div class="col-md-4 mb-3">
                    {{ form.saldo.label_tag }}
                    {{ form.saldo }}
                </div>
                <div class="col-md-4 mb-3">
                    {{ form.se_imputaran.label_tag }}
                    {{ form.se_imputaran }}
                </div>
            </div>
            <div>
                <div class="col-md-2" >
                    {{ form.a_imputar.label_tag }}
                    {{ form.a_imputar }}
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end mt-4">
            <button type="submit" id="enviarOrdenPago" class="btn btn-primary">Finalizar</button>
        </div>
    </form>
</div>

<script>
    var csrf_token = "{{ csrf_token }}";
</script>

<script src="{% static 'adm_cont/orden_pago.js' %}"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

{% endblock formulario %}
