{% load static %}

<div id="preventa_modal" style="display:none
">
    <div style="padding: 10px; border: 1px solid #ccc; border-radius: 5px; background-color: #f9f9f9;">
        <div class="col-12" style="padding: 0; width: 100%;">
            <table id="preventa_table" class="table table-striped mt-4" style="width: 100%; margin: 0; padding: 0;">
                <thead>
                    <tr>
                        <th>Preventa</th>
                        <th>Cliente</th>
                        <th>Posición</th>
                        <th>Master</th>
                        <th>House</th>
                        <th>Vuelo/Vapor</th>
                        <th>Contenedores</th>
                        <th>Clase</th>
                        <th>Referencia</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td colspan="11" style="height: 40px;"></td></tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Contenedor de los bloques de contenido -->
    <div class="row mt-4">

        <!-- Contenedor izquierdo (Block 1 y Block 2) -->
        <div class="col-md-6" style="padding: 10px; display: flex; flex-direction: column; gap: 20px;">
            <!-- Botones como iconos con títulos -->
          <div id="estilospan" class="navbar minavbar navbar-expand-lg navbar-light bg-primary" style="display: flex; justify-content: center; align-items: center; gap: 60px; margin-bottom: 20px; padding: 20px; border: 2px solid #ccc; border-radius: 10px; background-color: #f9f9f9; height: 100%;">
            <div title="Facturar" onclick="facturar_preventa()" style="display: flex; flex-direction: column; align-items: center; gap: 5px; flex-grow: 1;">
                <i class="fa-solid fa-file-invoice text-white" style="cursor: pointer; font-size: 20px;"></i>
            </div>

            <div title="Cancelar" onclick="cancelar_preventa()" style="display: flex; flex-direction: column; align-items: center; gap: 5px; flex-grow: 1;">
                <i class="fa-solid fa-ban text-white" style="cursor: pointer; font-size: 20px;"></i>
            </div>

            <div title="Borrar" onclick="borrar_preventa()" style="display: flex; flex-direction: column; align-items: center; gap: 5px; flex-grow: 1;">
                <i class="fa-solid fa-trash text-white" style="cursor: pointer; font-size: 20px;"></i>
            </div>

            <div title="Imprimir" onclick="imprimir_preventa()" style="display: flex; flex-direction: column; align-items: center; gap: 5px; flex-grow: 1;">
                <i class="fa-solid fa-print text-white" style="cursor: pointer; font-size: 20px;"></i>
            </div>

            <div title="Multiples preventas" onclick="multiples_preventas()" style="display: flex; flex-direction: column; align-items: center; gap: 5px; flex-grow: 1;">
                <i class="fa-solid fa-list text-white" style="cursor: pointer; font-size: 20px;"></i>
            </div>
        </div>

            <form id="pararesetear">
            <!-- Block 1 -->
            <div style="padding: 20px; border: 1px solid #ccc; border-radius: 5px; background-color: #f9f9f9;">

                     <div class="form-group">
                        <label for="moneda">Moneda:</label>
                        <input id="moneda" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="total_con_iva">Total con IVA:</label>
                        <input id="total_con_iva" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="total_sin_iva">Total sin IVA:</label>
                        <input id="total_sin_iva" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="cliente_i">Cliente:</label>
                        <input id="cliente_i" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="direccion">Dirección:</label>
                        <input id="direccion" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="localidad">Localidad:</label>
                        <input id="localidad" type="text" class="form-control">
                    </div>

            </div>

            <div style="padding: 10px; border: 1px solid #ccc; border-radius: 5px; background-color: #f9f9f9;">
                <table id="tabla_gastos_preventa_factura" class="table table-striped mt-4" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Descripcion</th>
                            <th>Total</th>
                            <th>IVA</th>
                            <th>Original</th>
                            <th>Moneda</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td colspan="5" style="height: 40px;"></td></tr>
                    </tbody>
                </table>
            </div>

            <!-- Block 2 -->
            <div style="padding: 20px; border: 1px solid #ccc; border-radius: 5px; background-color: #f9f9f9;">
                <!-- block A -->
                <div class="row">
                    <div class="col-2 form-group">
                        <label for="peso">Peso:</label>
                        <input id="peso" type="text" class="form-control">
                    </div>
                    <div class="col-2 form-group">
                        <label for="aplic">Aplic:</label>
                        <input id="aplic" type="text" class="form-control">
                    </div>

                    <div class="col-2 form-group">
                        <label for="bultos">Bultos:</label>
                        <input id="bultos" type="text" class="form-control">
                    </div>
                    <div class="col-2 form-group">
                        <label for="volumen">Volumen:</label>
                        <input id="volumen" type="text" class="form-control">
                    </div>
                    <div class="col-4 form-group">
                        <label for="commodity">Commodity:</label>
                        <input id="commodity" type="text" class="form-control">
                    </div>
                </div>

                <!-- block B -->
                <div class="row">
                    <div class="col-2 form-group">
                        <label for="inconterms">Inconterms:</label>
                        <input id="inconterms" type="text" class="form-control">
                    </div>
                    <div class="col-2 form-group">
                        <label for="flete">Flete:</label>
                        <input id="flete" type="text" class="form-control">
                    </div>
                    <div class="col-2 form-group">
                        <label for="deposito">Depósito:</label>
                        <input id="deposito" type="text" class="form-control">
                    </div>
                    <div class="col-2 form-group">
                        <label for="wr">WR:</label>
                        <input id="wr" type="text" class="form-control">
                    </div>
                </div>
            </div>
            </form>
        </div>

        <!-- Contenedor derecho (Block 3 y Block 4) -->

           <div class="col-md-6" style="padding: 10px; display: flex; flex-direction: column; gap: 20px;">
               <form id="pararesetear2">
            <!-- Block 3 -->
            <div class="navbar minavbar navbar-expand-lg navbar-light" style="padding: 15px; border: 2px solid #ccc; border-radius: 10px; display: flex; gap: 20px; justify-content: space-between; background-color: #f9f9f9; height: auto; margin-bottom: 20px;">
                <div class="form-group" style="flex-grow: 1; display: flex; flex-direction: column; align-items: center; gap: 5px;">
                    <label for="referencia">Referencia:</label>
                    <input id="referencia" type="text" class="form-control" style="width: 100%;">
                </div>
                <div class="form-group" style="flex-grow: 1; display: flex; flex-direction: column; align-items: center; gap: 5px;">
                    <label for="llegada_salida">Llegada Salida:</label>
                    <input id="llegada_salida" type="text" class="form-control" style="width: 100%;">
                </div>
                <div class="form-group" style="flex-grow: 1; display: flex; flex-direction: column; align-items: center; gap: 5px;">
                    <label for="origen">Origen:</label>
                    <input id="origen" type="text" class="form-control" style="width: 100%;">
                </div>
                <div class="form-group" style="flex-grow: 1; display: flex; flex-direction: column; align-items: center; gap: 5px;">
                    <label for="destino">Destino:</label>
                    <input id="destino" type="text" class="form-control" style="width: 100%;">
                </div>
            </div>

            <!-- division1 -->
            <div style="padding: 20px; border: 1px solid #ccc; border-radius: 5px; background-color: #f9f9f9;">
                <div class="form-group">
                    <label for="transportista">Transportista:</label>
                    <input id="transportista" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="consignatario">Consignatario:</label>
                    <input id="consignatario" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="embarcador">Embarcador:</label>
                    <input id="embarcador" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="agente">Agente:</label>
                    <input id="agente" type="text" class="form-control">
                </div>
            </div>

            <!-- division2 -->
            <div style="padding: 20px; border: 1px solid #ccc; border-radius: 5px; background-color: #f9f9f9;">
                <div class="row">
                    <div class="col-6 form-group">
                        <label for="vuelo_vapor">Vuelo/Vapor:</label>
                        <input id="vuelo_vapor" type="text" class="form-control">
                    </div>
                    <div class="col-6 form-group">
                        <label for="seguimiento">Seguimiento:</label>
                        <input id="seguimiento" type="text" class="form-control">
                    </div>
                    <div class="col-6 form-group">
                        <label for="mawb_mbl_mcrt">MAWB/MBL/MCRT:</label>
                        <input id="mawb_mbl_mcrt" type="text" class="form-control">
                    </div>
                    <div class="col-6 form-group">
                        <label for="hawb_hbl_hcrt">HAWB/HBL/HCRT:</label>
                        <input id="hawb_hbl_hcrt" type="text" class="form-control">
                    </div>
                    <div class="col-6 form-group">
                        <label for="posicion">Posicion:</label>
                        <input id="posicion" type="text" class="form-control">
                    </div>
                    <div class="col-6 form-group">
                        <label for="status">Status:</label>
                        <input id="status" type="text" class="form-control">
                    </div>
                    <div class="col-6 form-group">
                        <label for="orden">Orden:</label>
                        <input id="orden" type="text" class="form-control">
                    </div>
                    <div class="col-6 form-group">
                        <label for="modo">Modo:</label>
                        <input id="modo" type="text" class="form-control">
                    </div>
                </div>
            </div>
                   </form>
        </div>



    </div>
</div>
