{% extends 'base_table.html' %}
{% load static %}
{% block title_page %}Productos{% endblock title_page %}


{% block table_datatable %}
    <table id="tabla_producto" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th width="4%"></th>
            <th class="text-left">Código</th>
            <th class="text-left">Nombre</th>
            <th class="text-left">Descripción</th>
        </tr>

        </thead>
        <tbody>

        </tbody>
        <tfoot>
        <tr>
            <th width="4%"></th>
            <th class="text-left">Código</th>
            <th class="text-left">Nombre</th>
            <th class="text-left">Descripción</th>
        </tr>
        </tfoot>
    </table>
    <hr>
{% endblock table_datatable %}


{% block script_datatable %}
    <script src="{% static 'grilla/js_productos.js' %}"></script>
{% endblock script_datatable %}