{% extends 'base_form.html' %}

{% block formulario %}
<form method="POST">
        <table class="form-control form-control-a">
            {% csrf_token %}
            <tr>
                <th>{{ form.codigo.label }}</th>
                <td>{{ form.codigo }}</td>
            </tr>
            <tr>
                <th>{{ form.nombre.label }}</th>
                <td>{{ form.nombre }}</td>
            </tr>
            <tr>
                <th>{{ form.descripcion.label }}</th>
                <td>{{ form.descripcion }}</td>
            </tr>
        </table>
    <br>
    <button type="submit" class="btn btn-primary">Modificar</button>
    <a href="/productos" class="btn btn-dark" onclick="return(confirm('¿Esta seguro de cancelar?'))">Cancelar</a>
</form>
    <script src="{% static 'grilla/general_mantenimientos.js' %}"></script>

{% endblock formulario %}