<style>
    #table_house_style td{
    text-align:end;
    }
    #table_house_style td input,#table_house_style td select{
    width:200px;
    padding:4px;
    }
     #table_house_style td{
    width:90px;
    padding:4px;
    font-size:12px;
     }
    #table_house_style input,
    #table_house_style select,
    #table_house_style textarea {
        font-size: 14px !important;
    }
</style>
<div id="edit_house_modal" style="display: none;" tabindex="-1">
<form id="edit_house_form" method="POST">
    {% csrf_token %}
    <table id="table_house_style" class="table table-condensed table-sm form-control table-th" style="margin-top: 10px; margin-bottom: 10px; width:fit-content;" border="1">

        <tbody>
            <tr>
                <td>{{ form_edit_house.cliente.label }}</td>
               <td> {{ form_edit_house.cliente_i }}
                {{ form_edit_house.cliente }}</td>

                <td>{{ form_edit_house.consignatario.label }}</td>
               <td> {{ form_edit_house.consignatario_i }}
                {{ form_edit_house.consignatario }}</td>

                <td >{{ form_edit_house.agente.label }}</td>
              <td>  {{ form_edit_house.agente_i }}
                {{ form_edit_house.agente }}</td>

                <td>{{ form_edit_house.vendedor.label }}</td>
               <td> {{ form_edit_house.vendedor_i }}
                {{ form_edit_house.vendedor }}</td>

            </tr>

            <tr>
                <td>{{ form_edit_house.origen.label }}</td>
                <td>{{ form_edit_house.origen }}</td>

                <td >{{ form_edit_house.destino.label }}</td>
                <td>{{ form_edit_house.destino }}</td>

                <td >{{ form_edit_house.loading.label }}</td>
                <td>{{ form_edit_house.loading }}</td>

                <td >{{ form_edit_house.discharge.label }}</td>
                <td>{{ form_edit_house.discharge }}</td>

            </tr>
            <tr>
                <td >{{ form_edit_house.awb.label }}</td>
                <td>{{ form_edit_house.awb }}</td>
                <td >{{ form_edit_house.house.label }}</td>
                <td>{{ form_edit_house.house }}</td>

                <td >{{ form_edit_house.operacion.label }}</td>
                <td>{{ form_edit_house.operacion }}</td>

                <td >{{ form_edit_house.posicion_h.label }}</td>
                <td>{{ form_edit_house.posicion_h }}</td>

            </tr>
            <tr>
                 <td >{{ form_edit_house.pago.label }}</td>
                <td>{{ form_edit_house.pago }}</td>

                <td >{{ form_edit_house.moneda.label }}</td>
                <td>{{ form_edit_house.moneda }}</td>

                <td >{{ form_edit_house.arbitraje.label }}</td>
                <td>{{ form_edit_house.arbitraje }}</td>

                 <td >{{ form_edit_house.demora.label }}</td>
                <td>{{ form_edit_house.demora }}</td>
            </tr>

            <tr>
                <td >{{ form_edit_house.embarcador.label }}</td>
               <td> {{ form_edit_house.embarcador_i }}
                {{ form_edit_house.embarcador }}</td>

                <td >{{ form_edit_house.transportista.label }}</td>
                <td>{{ form_edit_house.transportista_i }}
                {{ form_edit_house.transportista }}</td>

                <td >{{ form_edit_house.vapor.label }}</td>
                <td>{{ form_edit_house.vapor }}</td>

                <td >{{ form_edit_house.viaje.label }}</td>
                <td>{{ form_edit_house.viaje }}</td>
            </tr>
            <tr>
                <td >{{ form_edit_house.armador.label }}</td>
               <td> {{ form_edit_house.armador_i }}
                {{ form_edit_house.armador }}</td>


                <td >{{ form_edit_house.agecompras.label }}</td>
               <td> {{ form_edit_house.agcompras_i }}
                {{ form_edit_house.agecompras }}</td>

                <td >{{ form_edit_house.ageventas.label }}</td>
              <td>  {{ form_edit_house.agventas_i }}
                {{ form_edit_house.ageventas }}</td>

            </tr>
            <tr>

            <td >{{ form_edit_house.eta.label }}</td>
            <td>{{ form_edit_house.eta }}</td>

            <td >{{ form_edit_house.etd.label }}</td>
            <td>{{ form_edit_house.etd }}</td>
            </tr>
            <tr>


                <td >{{ form_edit_house.status_h.label }}</td>
                <td>{{ form_edit_house.status_h }}</td>

                <td >{{ form_edit_house.wreceipt.label }}</td>
                <td>{{ form_edit_house.wreceipt }}</td>


            </tr>

            </tbody>
    </table>


</form>

</div>