{% extends 'base_form.html' %}
{% load static %}
{% block formulario %}
<form method="POST">
    <table class="form-control form-control-a">
        {% csrf_token %}
        <tr>
            <th>{{ form.codigo.label }}</th>
            <td>{{ form.codigo }}</td>
        </tr>
        <tr>
            <th>{{ form.nombre.label }}</th>
            <td>{{ form.nombre }}</td>
        </tr>
        <tr>
            <th>{{ form.pais.label }}</th>
            <td>{{ form.pais }}</td>
          <input type="hidden" id="nombrepais" value="{{ nomprepais }}">
        </tr>
        <tr>
            <th>{{ form.codedi.label }}</th>
            <td>{{ form.codedi }}</td>
        </tr>
        <tr>
            <th>{{ form.codaduana.label }}</th>
            <td>{{ form.codaduana }}</td>
        </tr>
        <tr>
            <th>{{ form.paises_idinternacional.label }}</th>
            <td>{{ form.paises_idinternacional }}</td>
        </tr>
    </table>
    <br>
    <button type="submit" class="btn btn-primary">Modificar</button>
    <a href="/ciudades" class="btn btn-dark" onclick="return(confirm('¿Esta seguro de cancelar?'))">Cancelar</a>
</form>
    <script src="{% static 'grilla/general_mantenimientos.js' %}"></script>

<script>
document.addEventListener('DOMContentLoaded', function() {
    // Mapa para almacenar ID internacional de cada país
    var paisesIdInternacional = {
        {% for pais in paises %}
        "{{ pais.nombre }}": "{{ pais.idinternacional }}",
        {% endfor %}
    };

    // Obtén el campo select y el input ID País
    var selectPais = document.getElementById('pais-select');
    var inputIdInternacional = document.getElementById('idinternacional');
    var pais = document.getElementById('nombrepais');


     for (var i = 0; i < selectPais.options.length; i++) {
        var optionText = selectPais.options[i].text;
        if (optionText === pais.value) {
            selectPais.selectedIndex = i;
            var selectedPais = selectPais.value;
            inputIdInternacional.value = paisesIdInternacional[selectedPais] || '';
            break;
        }
    }

    // Maneja el evento de cambio en el select
    selectPais.addEventListener('change', function() {
        var selectedPais = selectPais.value;
        inputIdInternacional.value = paisesIdInternacional[selectedPais] || '';
    });
});
</script>
{% endblock formulario %}

