<nav class="navbar minavbar navbar-expand-lg navbar-light bg-primary" style="color:white;">
    <div class="container-fluid">
<!--        <a class="navbar-brand text-white" href="#"></a>-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
               <li class="nav-item">
                    <a class="nav-link text-white" name="add_btn" id="add_btn">Nuevo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" name="editar_btn" id="editar_btn" href="#">Modificar</a>
                </li>
                  <li class="nav-item text-white">
                    <a class="nav-link text-white" href="#" id="gastos_btn_master" title="Gastos para el master">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                          <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z"/>
                        </svg>
                    </a>
                </li>
                   <li class="sidebar-item">
                        <a href="{% url 'vista_guias' %}" class="sidebar-link">
                            <i class="fa-solid fa-plane pe-2"></i>Guias aereas
                        </a>
                    </li>
                <li class="nav-item active dropdown" style="margin-right: 100px;">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarScrollingDropdown2" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Acciones
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li>
                            <a class="dropdown-item" TARGET="_blank" href="descargar_pdf/WayBill.pdf">DESCARGAR PLANTILLA GUIA</a>
                            <a class="dropdown-item" id="descargar_guia">DESCARGAR GUIA</a>
                            <a class="dropdown-item" id="descargar_guia_draft">DESCARGAR GUIA DRAFT</a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>


