{% extends 'base_table_v2.html' %}
{% load static %}
{% block contenido %}
<title>Balance de Agentes y Mixtas</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/administracion/administracion.css' %}">

<style>
  #formBalance .form-control,
  #formBalance .btn,
  #formBalance select {
    font-size: 0.85rem;
    height: 26px;
    padding: 3px 6px;
  }
</style>

<div class="container mt-3 mb-2">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <form method="post" id="formBalance">
        {% csrf_token %}
        <div class="border rounded p-3 bg-light">

          <!-- Fila 1: Fecha y Moneda -->
          <div class="row mb-2 align-items-end">
            <div class="col-md-6">
              {{ form.fecha_hasta.label_tag }}
              {{ form.fecha_hasta }}
            </div>
            <div class="col-md-6">
              {{ form.moneda.label_tag }}
              {{ form.moneda }}
            </div>
          </div>

          <!-- Fila 2: Checkboxes -->
          <div class="row mb-2">
            <div class="col-md-6">
              <div class="form-check">
                {{ form.consolidar_moneda_nac }}
                <label class="form-check-label" for="{{ form.consolidar_moneda_nac.id_for_label }}">{{ form.consolidar_moneda_nac.label }}</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-check">
                {{ form.consolidar_dolares }}
                <label class="form-check-label" for="{{ form.consolidar_dolares.id_for_label }}">{{ form.consolidar_dolares.label }}</label>
              </div>
            </div>
          </div>

          <!-- Botón -->
          <div class="text-end mt-3">
            <button type="submit" class="btn btn-warning btn-sm">Descargar reporte</button>
          </div>

        </div>
      </form>
    </div>
  </div>
  <div id="generando-alerta" class="alert alert-info text-center fixed-top w-100" role="alert" style="z-index: 2000;display: none;">
  Generando el reporte... por favor espere.
</div>
</div>

<script>
  const form = document.getElementById("formBalance");

  form.addEventListener("submit", function () {
   $('#generando-alerta').show();

  setTimeout(function () {
      $('#generando-alerta').hide();
  }, 10000);
  });
</script>
{% endblock contenido %}
