{% extends 'base_form.html' %}
{% block titulo_form %}AGREGAR M B/L{% endblock titulo_form %}
{% load static %}
{% block script %}
    <script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('#id_agente').select2();
            $('#id_embarcador').select2();
            $('#id_armador').select2();
            $('#id_vapor').select2();

            $('select').on('change', function (e) {
            // Remueve cualquier clase de contorno verde previa
            $('.select2-selection').removeClass('selected-border');

            // Agrega la clase de contorno verde solo si hay algún dato seleccionado
            if ($(this).val()) {
                $('.select2-selection').addClass('selected-border');
            }
            });

        });

         $(document).on('select2:open', () => {
            document.querySelector('.select2-search__field').focus();
          })
    </script>
{% endblock script %}
{% block css %}
    <link href="{% static 'css/select2.min.css' %}" rel="stylesheet" id="base-css">
    <style>
        .select2-container--default .select2-selection--single {
          height: calc(1.5em + 0.75rem + 2px);
        }
      th {
          text-align: right;
        }
</style>

{% endblock css %}
{% block formulario %}

    <form method="POST">
        <table class="table table-borderless table-condensed table-sm form-control" style="margin-top: 10px; margin-bottom: 10px;" border="1">
            {% csrf_token %}
            <tr>
                <th>{{ form.transportista.label }}</th>
                <td>{{ form.transportista }}</td>
                <th>{{ form.awb.label }}</th>
                <td>{{ form.awb }}</td>
            </tr>
            <tr>
                <th>{{ form.agente.label }}</th>
                <td colspan="3">{{ form.agente }}</td>
<!--                <th>{{ form.origen.label }}</th>-->
<!--                <td>{{ form.origen }}</td>-->
<!--                <th>{{ form.loading.label }}</th>-->
<!--                <td>{{ form.loading }}</td>-->
            </tr>
            <tr>
                <th>{{ form.embarcador.label }}</th>
                <td colspan="3">{{ form.embarcador }}</td>
<!--                <th>{{ form.destino.label }}</th>-->
<!--                <td>{{ form.destino }}</td>-->
<!--                <th>{{ form.discharge.label }}</th>-->
<!--                <td>{{ form.discharge }}</td>-->
            </tr>
            <tr>
                <th>{{ form.armador.label }}</th>
                <td colspan="3">{{ form.armador }}</td>
<!--                <th>{{ form.fecha.label }}</th>-->
<!--                <td>{{ form.fecha }}</td>.-->
<!--                <th>{{ form.cotizacion.label }}</th>-->
<!--                <td>{{ form.cotizacion }}</td>-->
            </tr>
            <tr>
                <th>{{ form.vapor.label }}</th>
                <td>{{ form.vapor }}</td>
                <th>{{ form.viaje.label }}</th>
                <td>{{ form.viaje }}</td>
<!--                <th>{{ form.status.label }}</th>-->
<!--                <td>{{ form.status }}</td>-->
            </tr>
            <tr>
                <th>{{ form.aduana.label }}</th>
                <td>{{ form.aduana }}</td>
                <th>{{ form.arbitraje.label }}</th>
                <td>{{ form.arbitraje }}</td>
<!--                <th>{{ form.posicion.label }}</th>-->
<!--                <td>{{ form.posicion }}</td>-->
            </tr> <tr>
                <th>{{ form.moneda.label }}</th>
                <td>{{ form.moneda }}</td>
                <th>{{ form.arbitraje.label }}</th>
                <td>{{ form.arbitraje }}</td>
<!--                <th>{{ form.posicion.label }}</th>-->
<!--                <td>{{ form.posicion }}</td>-->
            </tr>
            <tr>
<!--                <th>{{ form.aduana.label }}</th>-->
<!--                <td>{{ form.aduana }}</td>-->
<!--                <th>{{ form.manifiesto.label }}</th>-->
<!--                <td>{{ form.manifiesto }}</td>-->
<!--                <th>{{ form.operacion.label }}</th>-->
<!--                <td>{{ form.operacion }}</td>-->
            </tr>
            <tr>
                <th>{{ form.tarifa.label }}</th>
                <td>{{ form.tarifa }}</td>
                <th>{{ form.kilosmadre.label }}</th>
                <td>{{ form.kilosmadre }}</td>
                <th>{{ form.bultosmadre.label }}</th>
                <td>{{ form.bultosmadre }}</td>
            </tr>
            <tr>
                <th>{{ form.pagoflete.label }}</th>
                <td>{{ form.pagoflete }}</td>
                <th>{{ form.trafico.label }}</th>
                <td>{{ form.trafico }}</td>
            </tr>
        </table>
        <br>
        <button type="submit" class="btn btn-primary"  onclick="return(confirm('¿Confirma guardado del M B/L?'))">Guardar</button>
        <a href="/" class="btn btn-dark" onclick="return(confirm('¿Esta seguro de cancelar?'))">Cancelar</a>
    </form>
{% endblock formulario %}
