<!--menu horizontal-->
<style>
.sidebar-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-secondary px-3">
  <div class="container-fluid">
    <ul class="navbar-nav d-flex flex-row w-100 justify-content-start">
      <li class="nav-item mx-2">
        <a class="nav-link text-white" href="/admin_cont/facturacion/">
          <i class="fa fa-receipt mr-1"></i> Facturación
        </a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link text-white" href="/admin_cont/cobranza/">
          <i class="fa fa-landmark mr-1"></i> Cobranza
        </a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link text-white" href="/admin_cont/proveedores_gastos/">
          <i class="fa fa-user-tie mr-1"></i> Proveedores y Gastos
        </a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link text-white" href="/admin_cont/orden_pago/">
          <i class="fa fa-coins mr-1"></i> Orden de Pago
        </a>
      </li>
    </ul>
  </div>
</nav>