<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Cargo system</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                 <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown2" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Seguimientos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" href="{% url 'vista_seguimientos' %}">Lista</a></li>
                        <li><a class="dropdown-item" href="{% url 'vista_guias' %}">Guias aereas</a></li>
                        <li><a class="dropdown-item" href="{% url 'vista_correos' %}">Correos enviados</a></li>
                        <li><a class="dropdown-item" href="{% url 'vista_correos' %}">Transmision DNA</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav ms-auto">


                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarScrolsli2gDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Modulo actual ({{ request.session.rol|capfirst }})
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right text-right" aria-labelledby="navbarScrollingDropdown">
                       {% for modulo in request.session.roles %}
                            {% if modulo != request.session.rol %}
                                <li><a class="dropdown-item" href="{% url 'vista_cambiar_modulo' modulo %}">{{ modulo|capfirst }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>


               <li class="nav-item dropdown">
                    <a class="nav-link  dropdown-toggle" href="#" id="navbarScrolslingDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                           {{ request.user.first_name }} {{ request.user.last_name }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right text-right" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" href="#">Cambio clave</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'vista_logout' %}">Salir</a></li>
                    </ul>
                </li>


            </ul>
        </div>
    </div>
</nav>


