<div id="searchModalDirecto" title="Buscar Registro" style="display:none">
    <form id="searchFormDirecto">
        <div class="form-group mb-3">
            <label for="seguimiento">Seguimiento:</label>
            <input type="text" id="seguimiento" name="seguimiento" class="form-control">
        </div>

        <div class="form-group mb-3">
            <label for="posicion">Posicion:</label>
            <input type="text" id="posicion" name="posicion" class="form-control">
        </div>
        <div class="form-group mb-3">
            <label for="origen">Origen: (Código de ciudad)</label>
            <input type="text" id="origen" name="origen" class="form-control">
        </div>
        <div class="form-group mb-3">
            <label for="master">Master:</label>
            <input type="text" id="master" name="master" class="form-control">
        </div>
        <div class="form-group mb-3">
            <label for="house">House:</label>
            <input type="text" id="house" name="house" class="form-control">
        </div>
        <div class="form-group mb-3">
            <label for="consignatario">Consignatario:</label>
            <input type="text" id="consignatario" name="consignatario" class="form-control">
        </div>
        <div class="form-group mb-3">
            <label for="transportista">Transportista:</label>
            <input type="text" id="transportista" name="transportista" class="form-control">
        </div>

        <button type="submit" style="display:none;"></button>

    </form>
</div>
