{% extends 'base_table_v2.html' %}

{% load static %}

{% block title_page %}Importacion aérea{% endblock title_page %}

{% block script_table %}
<link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css'  %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/importacion_maritima/importacion_maritima.css'  %}">
<meta name="csrf-token" content="{{ csrf_token }}">

{% endblock script_table %}

{% block table_datatable %}

<!--    BOTONES -->
{% include 'master_imp_aerea/menu_hd.html' %}
<style>

    #tabla_house_directo_ia tr:hover::after {
    content: 'Doble click para editar';
    color: #f9edbe;
    position: absolute;
    right: 30px;
    background-color: #333;
    padding: 5px;
    font-size: 12px;
    border-radius: 3px;
    }
    #tabla_seguimiento_IH tr.highlighted {
    background-color: #ffc107;
}

#tabla_seguimiento_IH tr.highlighted input[type="checkbox"] {
    background-color: #ffc107;
}

    table.dataTable.table-striped>tbody>tr.odd.selected>* {
     box-shadow: inset 0 0 0 9999px #b1caed;!important;
        color: #333;
        background-color: #b1caed !important;
    }
        table.dataTable.table-striped>tbody>tr.even.selected>* {
     box-shadow: inset 0 0 0 9999px #b1caed;!important;
        color: #333;
        background-color: #b1caed !important;
    }

</style>
    <table id="tabla_house_directo_ia" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
                <th class="text-right"></th>
                <th class="text-right">N° Seguimiento</th>
                <th class="text-right">ETA</th>
                <th class="text-right">N° Embarque</th>
                <th class="text-right">Vuelo</th>
                <th class="text-right">Master</th>
                <th class="text-right">House</th>
                <th class="text-right">Consignatario</th>
                <th class="text-right">Transportista</th>
                <th class="text-right">Agente</th>
            </tr>

        </thead>
        <tbody>

        </tbody>
        <tfoot>
        <tr>
            <th width="4%"></th>
                <th class="text-right">N° Seguimiento</th>
                <th class="text-right">ETA</th>
                <th class="text-right">N° Embarque</th>
                <th class="text-right">Vuelo</th>
                <th class="text-right">Master</th>
                <th class="text-right">House</th>
                <th class="text-right">Consignatario</th>
                <th class="text-right">Transportista</th>
                <th class="text-right">Agente</th>
        </tr>
        </tfoot>
    </table>
    <div id="toast-container" class="mx-auto text-center">
      <!-- Aquí se mostrarán los mensajes -->
    </div>

{% load static %}

{% include 'impaerea/add_house.html' %}
{% include 'impaerea/edit_house.html' %}
{% include 'impaerea/gastos_house.html' %}
{% include 'impaerea/importar_house.html' %}
{% include 'impaerea/rutas_house.html' %}
{% include 'impaerea/emails_house.html' %}
{% include 'impaerea/archivos.html' %}
{% include 'impaerea/embarques_house.html' %}
{% include 'impaerea/pdf.html' %}
{% include 'impaerea/nota_house.html' %}
{% include 'facturar.html' %}
{% include 'impaerea/aplicables.html' %}
{% include 'seguimientos/modales/logs.html' %}
{% include 'impaerea/buscar_directos.html' %}

{% endblock table_datatable %}


{% block script_datatable %}
    <script src="{% static 'grilla/js_importacion_aerea.js' %}"></script>
    <script src="{% static 'grilla/js_impaerea_housedirecto.js' %}"></script>
    <script src="{% static 'grilla/preventa.js' %}"></script>
    <script src="{% static 'js/select2.min.js' %}"></script>
    <script src="{% static 'js/select2/es.js'  %}"></script>
    <script>
       var csrf_token = '{{ csrf_token }}';
    </script>
{% endblock script_datatable %}