{% extends 'base_table.html' %}
{% load static %}

{% block title_page %}DESCONSOLIDACION{% endblock title_page %}

{% block table_datatable %}
<style>
    .col-lg-12 {
       display:block !important;
        width: 100%;
    }
</style>

<div style="display:flex; justify-content: center;">
    <form method="POST" style="width:fit-content;">
    <table class="form-control form-control-a">
        {% csrf_token %}
        <tr>
            <th>{{ form.cia.label }}</th>
            <td>{{ form.cia }}</td>
        </tr>
        <tr>
            <th>{{ form.numero_vuelo.label }}</th>
            <td>{{ form.numero_vuelo }}</td>
        </tr>
        <tr>
            <th>{{ form.llegada.label }}</th>
            <td>{{ form.llegada }}</td>
        </tr>
    </table>
    <br>
    <button type="submit" class="btn btn-primary">
        <i class="fa fa-search"></i> Buscar
    </button>
</form>
</div>


            {% if datos %}
                <br>
                <br>
                <table id="tabla_transmision" class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Seguimiento</th>
                            <th>Awb</th>
                            <th>HAwb</th>
                            <th>Origen</th>
                            <th>Tipo transmision</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key,reg in datos.items %}
                            <tr>
                                 <td>{{ reg.id }}</td>
                                 <td>{{ reg.numero }}</td>
                                 <td>{{ reg.awb }}</td>
                                 <td>{{ reg.hawb }}</td>
                                 <td>{{ reg.origen }}</td>
                                 <td>
                                     <select name="transmision_{{ reg.id }}">
                            <option value="A" {% if reg.alta_baja == "A" %}selected{% endif %}>ALTA</option>
                            <option value="B" {% if reg.alta_baja == "B" %}selected{% endif %}>BAJA</option>
                                    </select>
                                 </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
       <br>
       <button class="btn btn-primary" id="informar"><i class="fa fa-plane" aria-hidden="true"></i>Transmitir</button>
            {% endif %}
{% endblock table_datatable %}

{% block script_datatable %}
    <script src="{% static 'grilla/js_transmision.js' %}"></script>
    <script>
       var csrf_token = '{{ csrf_token }}';
    </script>
{% endblock script_datatable %}
