{% extends 'base_form.html' %}

{% block formulario %}
<form method="POST">
        <table class="form-control form-control-a">
            {% csrf_token %}
            <tr>
                <th>{{ form.nombre.label }}</th>
                <td>{{ form.nombre }}</td>
            </tr>
            <tr>
                <th>{{ form.continente.label }}</th>
                <td>{{ form.continente }}</td>
            </tr>
            <tr>
                <th>{{ form.iata.label }}</th>
                <td>{{ form.iata }}</td>
            </tr>
            <tr>
                <th>{{ form.idinternacional.label }}</th>
                <td>{{ form.idinternacional }}</td>
            </tr>
            <tr>
                <th>{{ form.cuit.label }}</th>
                <td>{{ form.cuit }}</td>
            </tr>
            <tr>
                <th>{{ form.edi.label }}</th>
                <td>{{ form.edi }}</td>
            </tr>
        </table>
    <br>
    <button type="submit" class="btn btn-primary">Modificar</button>
    <a href="/paises" class="btn btn-dark" onclick="return(confirm('¿Esta seguro de cancelar?'))">Cancelar</a>
</form>
    <script src="{% static 'grilla/general_mantenimientos.js' %}"></script>

{% endblock formulario %}