{% extends 'base_form.html' %}

{% block formulario %}
    <form method="POST">
    {% csrf_token %}

    <div class="container">
        <div class="row">
            {% for field in form.visible_fields %}
                <div class="col-md-4 mb-3">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="text-danger">
                            {{ field.errors.0 }}
                        </div>
                    {% endif %}
                </div>

                {% if forloop.counter|divisibleby:3 %}
                    </div><div class="row">  <!-- Cierra la fila y abre una nueva cada 3 campos -->
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <br>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a href="{% url 'vista_socios_comerciales' %}" class="btn btn-dark" onclick="return confirm('¿Está seguro de cancelar?')">Cancelar</a>
</form>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var paisSeleccionado = '{{ form.initial.pais|default_if_none:"" }}'.trim();

    if (paisSeleccionado) {
        var select = document.getElementById('pais-select');

        for (var i = 0; i < select.options.length; i++) {
        var valor = String(select.options[i].value).trim();
            if (valor === String(paisSeleccionado)) {
                select.options[i].selected = true;
                break;
            }
        }
    }
});
</script>
{% endblock formulario %}
