<style>
    .table-th th{
    text-align:end;
    }
    #table_add_im th{
    width:auto !important;
    }
    table_add_im{
    height:fit-content !important;
    }


</style>
<div id="edit_master_modal" style="display: none;" tabindex="-1">
<form id="edit_master_form" method="POST" style="width:fit-content;" action="{% url 'edit_master' %}">
    {% csrf_token %}
    <table class="table table-condensed table-sm form-control table-th" style="margin-top: 10px; margin-bottom: 10px; width:fit-content;" border="1">
        <tr>
            <th>{{ form_edit_master.transportista_e.label }}</th>
            <td style="display:flex;" colspan="2">
                {{ form_edit_master.transportista_ie }}
                {{ form_edit_master.transportista_e }}
            </td>

            <th>{{ form_edit_master.agente_e.label }}</th>
            <td style="display:flex;" colspan="2">
                {{ form_edit_master.agente_ie }}
                {{ form_edit_master.agente_e }}
            </td>

            <th>{{ form_edit_master.consignatario_e.label }}</th>
            <td style="display:flex;" colspan="2">
                {{ form_edit_master.consignatario_ie }}
                {{ form_edit_master.consignatario_e }}
            </td>

            <th>{{ form_edit_master.armador_e.label }}</th>
            <td style="display:flex;" colspan="2">
                {{ form_edit_master.armador_ie }}
                {{ form_edit_master.armador_e }}
            </td>
        </tr>
        <tr>
            <th>{{ form_edit_master.vapor_e.label }}</th>
            <td>{{ form_edit_master.vapor_e }}</td>
            <th>{{ form_edit_master.viaje_e.label }}</th>
            <td>{{ form_edit_master.viaje_e }}</td>

            <th>{{ form_edit_master.aduana_e.label }}</th>
            <td>{{ form_edit_master.aduana_e }}</td>
            <th>{{ form_edit_master.tarifa_e.label }}</th>
            <td>{{ form_edit_master.tarifa_e }}</td>
        </tr>
        <tr>
            <th>{{ form_edit_master.moneda_e.label }}</th>
            <td>{{ form_edit_master.moneda_e }}</td>
            <th>{{ form_edit_master.arbitraje_e.label }}</th>
            <td>{{ form_edit_master.arbitraje_e }}</td>

            <th>{{ form_edit_master.kilosmadre_e.label }}</th>
            <td>{{ form_edit_master.kilosmadre_e }}</td>
            <th>{{ form_edit_master.bultosmadre_e.label }}</th>
            <td>{{ form_edit_master.bultosmadre_e }}</td>
        </tr>
        <tr>
            <th>{{ form_edit_master.pagoflete_e.label }}</th>
            <td>{{ form_edit_master.pagoflete_e }}</td>
            <th>{{ form_edit_master.trafico_e.label }}</th>
            <td>{{ form_edit_master.trafico_e }}</td>

            <th>{{ form_edit_master.fecha_e.label }}</th>
            <td>{{ form_edit_master.fecha_e }}</td>
            <th>{{ form_edit_master.cotizacion_e.label }}</th>
            <td>{{ form_edit_master.cotizacion_e }}</td>
        </tr>
        <tr>
            <th>{{ form_edit_master.destino_e.label }}</th>
            <td>{{ form_edit_master.destino_e }}</td>
            <th>{{ form_edit_master.discharge_e.label }}</th>
            <td>{{ form_edit_master.discharge_e }}</td>

            <th>{{ form_edit_master.origen_e.label }}</th>
            <td>{{ form_edit_master.origen_e }}</td>
            <th>{{ form_edit_master.loading_e.label }}</th>
            <td>{{ form_edit_master.loading_e }}</td>

        </tr>
        <tr>
            <th>{{ form_edit_master.status_e.label }}</th>
            <td>{{ form_edit_master.status_e }}</td>
            <th>{{ form_edit_master.posicion_e.label }}</th>
            <td>{{ form_edit_master.posicion_e }}</td>

            <th>{{ form_edit_master.operacion_e.label }}</th>
            <td>{{ form_edit_master.operacion_e }}</td>
            <th>{{ form_edit_master.awd_e.label }}</th>
            <td>{{ form_edit_master.awd_e }}</td>
        </tr>
    </table>

    <br>
    <button type="submit" class="btn btn-primary" onclick="return confirm('¿Confirma la acción de modificar el M B/L?')">Actualizar</button>
</form>
</div>