{% extends 'base_table_v2.html' %}
{% load static %}
{% block title_page %}CORREOS ELECTRONICOS{% endblock title_page %}

{% block table_datatable %}
<style>
.bg-success-light {
    background-color: rgba(40, 167, 69, 0.5) !important;
}

.bg-primary-light {
    background-color: rgba(0, 123, 255, 0.5) !important;
}


</style>
   <table id="tabla_correos" class="table table-bordered" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th width="4%">Mas info</th>
        <th class="text-left">Fecha</th>
        <th class="text-left">Tipo</th>
        <th class="text-left">Seguimiento</th>
        <th class="text-left">Emisor</th>
        <th class="text-left">Remitente</th>
        <th class="text-left">Empresa</th>
        <th class="text-left">Estado</th>
        <th class="text-left">Usuario</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
    <tfoot>
    <tr>
       <th width="4%">Mas info</th>
        <th class="text-left">Fecha</th>
        <th class="text-left">Tipo</th>
        <th class="text-left">Seguimiento</th>
        <th class="text-left">Emisor</th>
        <th class="text-left">Remitente</th>
        <th class="text-left">Empresa</th>
        <th class="text-left">Estado</th>
        <th class="text-left">Usuario</th>
    </tr>
    </tfoot>
</table>
    <hr>
{% endblock table_datatable %}


{% block script_datatable %}
    <script src="{% static 'grilla/js_correos.js' %}"></script>
{% endblock script_datatable %}
