<nav class="navbar minavbar navbar-expand-lg navbar-light bg-primary" style="color:white;">
    <div class="container-fluid">
<!--        <a class="navbar-brand text-white" href="#"></a>-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
               <li class="nav-item">
                    <a class="nav-link text-white" name="add_btn" id="add_btn">Nuevo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" name="editar_btn" id="editar_btn" href="#">Modificar</a>
                </li>
                  <li class="nav-item text-white">
                    <a class="nav-link text-white" href="#" id="gastos_btn_master" title="Gastos para el master">
                        Gastos máster
                    </a>
                </li>
                  <li class="nav-item text-white" style="align-content: center;">
                     <button type="button" class="btn btn-outline-light" onclick="modal_buscar()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
                        Buscar
                    </button>
                </li>

            </ul>

        </div>
    </div>
</nav>


