{% extends 'base_form.html' %}

{% block formulario %}

    <form method="POST">
        <table class="form-control form-control-a">
            {% csrf_token %}
            <tr>
                <th>{{ form.nombre.label }}</th>
                <td>{{ form.nombre }}</td>
            </tr>
            <tr>
                <th>{{ form.observaciones.label }}</th>
                <td>{{ form.observaciones }}</td>
            </tr>
            <tr>
                <th>{{ form.contable.label }}</th>
                <td>{{ form.contable }}</td>
            </tr>
            <tr>
                <th>{{ form.tipo_gasto.label }}</th>
                <td>{{ form.tipo_gasto }}</td>
            </tr>
        </table>
        <br>
        <button type="submit" class="btn btn-primary">Agregar</button>
        <a href="/servicios" class="btn btn-dark" onclick="return(confirm('¿Esta seguro de cancelar?'))">Cancelar</a>
    </form>
{% endblock formulario %}
