    .minavbar-nav .nav-link {
        width: 80px; /* Establece el ancho deseado para los elementos del menú */
    }

    .minavbar {
        background-color: #f1f1f1;
        border-radius: 10px;
        height: 57px; /* Ajusta el tamaño de altura deseado */
    }
    .minavbar li {
      margin-right: 10px; /* Ajusta el espacio entre los elementos */
      line-height: 47px; /* Centra verticalmente los elementos */
    }
    .minavbar li:last-child {
      margin-right: 0; /* Elimina el margen derecho del último elemento */
    }
    td.details-control {
        background: url('/static/images/mas.png') no-repeat center center;
        z-index: 1110;
        cursor: pointer;
    }
    tr.shown td.details-control {
        background: url('/static/images/menos.png') no-repeat center center;
        z-index: 1110;
    }
    ul.ui-autocomplete {
        z-index: 1100;
    }
    .table-secondary td{
        background-color: #99c3ff !important;
    }
    .table-embarque{
        background-color: #99c3ff !important;
    }
    .selected td{
        background-color: #99c3ff !important;
    }
    .mimodal td {
        padding: 5px;
        border-top: 0px;
        border-right: 0px;
        border-bottom: 0px solid black;
        border-left: 0px;
    }
    .archivo {
        display: inline-block;
        margin-right: 10px; /* Espacio entre los elementos */
    }
    #archvios_adjuntos {
      display: flex;
      flex-direction: row; /* Asegura la alineación horizontal */
      align-items: center; /* Centra verticalmente los elementos si es necesario */
    }
    .eliminar-archivo {
      border: none;
      cursor: pointer;
      font-size: 16px;
      color: red;
      margin-left: 5px; /* Espacio entre la cruz y el nombre del archivo */
    }
   :root {
      --dt-row-selected: 255, 0, 0;
    }
    .select2-container {
      z-index: 10000; /* Por ejemplo */
    }
    .mitabla th {
        text-align: right;
        color: #6c757d;
    }
    .mitabla tr {
        margin-top: 40px !important;
        margin-bottom: 25px !important;
    }
    .select2-container--default .select2-selection--single {
        height: calc(2rem + 1.5px) !important;
    }
    .mitabla {
        height: calc(2rem + 1.5px) !important;
    }
    html.dark :required,
    html.dark select[data-plugin-selecttwo]:required + .select2 .select2-selection {
        border-left-color: limegreen !important;
    }
        /* Achicar barra de título del modal */
.ui-dialog .ui-dialog-titlebar {
    padding: 4px 10px !important;
    font-size: 13px !important;
    min-height: unset !important;
    height: auto !important;
    line-height: 1.2;
}

/* Achicar el texto del título */
.ui-dialog .ui-dialog-title {
    font-size: 13px !important;
}

/* Opcional: reducir tamaño de botones del modal */
.ui-dialog .ui-dialog-buttonpane .ui-button {
    font-size: 12px !important;
    padding: 4px 8px !important;
}