{% extends 'base_form.html' %}

{% block formulario %}

    <form method="POST">
        <table class="form-control form-control-a">
            {% csrf_token %}
            <tr>
                <th>{{ form.codigo.label }}</th>
                <td>{{ form.codigo }}</td>
            </tr>
            <tr>
                <th>{{ form.nombre.label }}</th>
                <td>{{ form.nombre }}</td>
            </tr>
            <tr>
                <th>{{ form.edi.label }}</th>
                <td>{{ form.edi }}</td>
            </tr>
            <tr>
                <th>{{ form.pais.label }}</th>
                <td>{{ form.pais }}</td>
            </tr>
            <tr>
                <th>{{ form.rut.label }}</th>
                <td>{{ form.rut }}</td>
            </tr>
        </table>
        <br>
        <button type="submit" class="btn btn-primary">Agregar</button>
        <a href="/bancos" class="btn btn-dark" onclick="return(confirm('¿Esta seguro de cancelar?'))">Cancelar</a>
    <script src="{% static 'grilla/general_mantenimientos.js' %}"></script>
    </form>

{% endblock formulario %}
