{% load static %}
<div id="ajduntar_modal"  style="display: none;">
    <form action="" id="archivos_form" method="post" enctype="multipart/form-data">
     {% csrf_token %}
     <table class="table table-borderless">
         <tr>
             <th style="text-align: right">{{ form_archivos.archivo.label }}</th>
             <td>{{ form_archivos.archivo }}</td>
         </tr>
         <tr>
             <th style="text-align: right">{{ form_archivos.detalle.label }}</th>
             <td>{{ form_archivos.detalle }}</td>
         </tr>
         <tr>
             <th style="text-align: right"></th>
             <td>
                 <button type="button" class="btn btn-sm btn-success"  style="width:200px;" id="guardar_archivo">Guardar</button>
             </td>
         </tr>
     </table>
    </form>
    <table id="tabla_archivos" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th width="4%"></th>
            <th class="text-right">Fecha</th>
            <th class="text-right">Archivo</th>
            <th class="text-left">Tipo</th>
            <th class="text-left">Usuario</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>

