{% load static %}
{% load widget_tweaks %}

<div id="cronologia_modal" style="display: none;">
    <form id="cronologia_form">
        <div class="container">
            <div class="row">
                <!-- Primera columna -->
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label">{{ form_cronologia.fecha.label }}</label>
                        {{ form_cronologia.fecha|add_class:"form-control" }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">{{ form_cronologia.eta.label }}</label>
                        {{ form_cronologia.eta|add_class:"form-control" }}
                    </div>
                </div>

                <!-- Segunda columna -->
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label">{{ form_cronologia.etd.label }}</label>
                        {{ form_cronologia.etd|add_class:"form-control" }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">{{ form_cronologia.originales.label }}</label>
                        {{ form_cronologia.originales|add_class:"form-control" }}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
