{% load static %}
{% load widget_tweaks %}
<div id="cronologia_modal"  style="display: none;">

 <form id="cronologia_form">

     <table class="table table-borderless">
         <tbody>
             <tr>
                 <td style="text-align: right;">{{ form_cronologia.fecha.label }}</td>
                 <td>{{ form_cronologia.fecha }}</td>
                  <!-- COLUMNA DOS -->

                 <td style="text-align: right;">{{ form_cronologia.etd.label }}</td>
                 <td>{{ form_cronologia.etd }}</td>
                  <!-- COLUMNA TRES -->
                 </tr>
             <tr>
                 <td style="text-align: right;">{{ form_cronologia.eta.label }}</td>
                 <td>{{ form_cronologia.eta }}</td>

                 <td style="text-align: right;">{{ form_cronologia.originales.label }}</td>
                 <td>{{ form_cronologia.originales }}</td>
            </tr>

         </tbody>

     </table>


    </form>
</div>