{% load static %}
{% load widget_tweaks %}
<style>

    #tabla_embarques tr:hover::after {
    content: 'Doble click para editar';
    color: #f9edbe;
    position: absolute;
    right: 10px;
    background-color: #333;
    padding: 5px;
    font-size: 12px;
    border-radius: 3px;
    }
</style>
<div id="embarques_modal" style="display: none;">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Contenido de la primera columna -->
                    <form id="embarques_form">
                        <table class="table table-borderless table-sm">
                            <tbody>
                            <tr>

                                <td style="text-align: right;">{{ form_embarques.producto.label }}</td>
                                <td>{{ form_embarques.id }}{{ form_embarques.producto }}<input type="hidden" name="cod_producto" id="cod_producto"></td>
                                <!-- COLUMNA DOS -->
                                <td style="text-align: right;">{{ form_embarques.bultos.label }}</td>
                                <td>{{ form_embarques.bultos }}</td>
                                <td style="text-align: right;">{{ form_embarques.tipo.label }}</td>
                                <td>{{ form_embarques.tipo }}</td>
                            </tr>
                            <tr>
                                <td style="text-align: right;">{{ form_embarques.bruto.label }}</td>
                                <td>{{ form_embarques.bruto }}</td>
                                <!-- COLUMNA DOS -->
                                <td style="text-align: right;">{{ form_embarques.medidas.label }}</td>
                                <td>{{ form_embarques.medidas }}</td>
                                <td style="text-align: right;">{{ form_embarques.cbm.label }}</td>
                                <td>{{ form_embarques.cbm }}</td>
                            </tr>
                            <tr>
                                <td style="text-align: right;">{{ form_embarques.materialreceipt.label }}</td>
                                <td colspan="5">{{ form_embarques.materialreceipt }}</td>
                                <!-- COLUMNA DOS -->
                            </tr>
                            <tr>
                                <td style="text-align: right;">{{ form_embarques.mercaderia.label }}</td>
                                <td colspan="5">{{ form_embarques.mercaderia }}</td>
                                <!-- COLUMNA DOS -->
                            </tr>
                            <tr>
                                <td colspan="6" class="">
                                    <button class="btn btn-dark" id="ingresar_embarque">Agregar</button>
                                    <button class="btn btn-danger" id="cancelar_embarque">Cancelar</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>


        <table id="tabla_embarques" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th width="4%"></th>
                <th class="text-right">Producto</th>
                <th class="text-right">Bultos</th>
                <th class="text-left">Tipo</th>
                <th class="text-left">Peso bruto</th>
                <th class="text-left">Medidas</th>
                <th class="text-left">Volumen</th>
                <th class="text-left">Descripcion</th>
                <th class="text-left">MR</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
            </tfoot>
        </table>

</div>