{% load static %}
{% load widget_tweaks %}
<style>

    #tabla_envases tr:hover::after {
    content: 'Doble click para editar';
    color: #f9edbe;
    position: absolute;
    right: 10px;
    background-color: #333;
    padding: 5px;
    font-size: 12px;
    border-radius: 3px;
    }
</style>
<div id="envases_modal"  style="display: none;">

 <form id="envases_form">

     <table class="table table-borderless">
         <tbody>
             <tr>
                 <td style="text-align: right;">{{ form_envases.unidad.label }}</td>
                 <td>{{ form_envases.id }}{{ form_envases.unidad }}</td>
                  <!-- COLUMNA DOS -->
                 <td style="text-align: right;">{{ form_envases.tipo.label }}</td>
                 <td>{{ form_envases.tipo }}</td>
                 <td style="text-align: right;">{{ form_envases.movimiento.label }}</td>
                 <td>{{ form_envases.movimiento }}</td>
                  <!-- COLUMNA DOS -->
                 <td style="text-align: right;">{{ form_envases.terminos.label }}</td>
                 <td>{{ form_envases.terminos }}</td>

             </tr>
         <tr>
         <tr>
                 <td style="text-align: right;">{{ form_envases.bonifcli.label }}</td>
                 <td>{{ form_envases.bonifcli }}</td>
                  <!-- COLUMNA DOS -->
                 <td style="text-align: right;">{{ form_envases.profit.label }}</td>
                 <td>{{ form_envases.profit }}</td>
                 <td style="text-align: right;">{{ form_envases.precio.label }}</td>
                 <td>{{ form_envases.precio }}</td>
                 <td style="text-align: right;">{{ form_envases.cantidad.label }}</td>
                 <td>{{ form_envases.cantidad }}</td>
         </tr>
              <td style="text-align: right;">{{ form_envases.nrocontenedor.label }}</td>
                 <td>{{ form_envases.nrocontenedor }}</td>
                  <!-- COLUMNA DOS -->
                 <td style="text-align: right;">{{ form_envases.precinto.label }}</td>
                 <td>{{ form_envases.precinto }}</td>
                  <!-- COLUMNA TREA -->
                 <td style="text-align: right;">{{ form_envases.envase.label }}</td>
                 <td>{{ form_envases.envase }}</td>
                    <!-- COLUMNA CUATRO -->
                 <td style="text-align: right;">{{ form_envases.bultos.label }}</td>
                 <td>{{ form_envases.bultos }}</td>
         </tr><tr>
              <td style="text-align: right;">{{ form_envases.volumen.label }}</td>
                 <td>{{ form_envases.volumen }}</td>
                  <!-- COLUMNA DOS -->
                 <td style="text-align: right;">{{ form_envases.peso.label }}</td>
                 <td>{{ form_envases.peso }}</td>
                  <!-- COLUMNA TREA -->
                 <td style="text-align: right;">{{ form_envases.tara.label }}</td>
                 <td>{{ form_envases.tara }}</td>
                    <!-- COLUMNA CUATRO -->
                 <td style="text-align: right;">{{ form_envases.marcas.label }}</td>
                 <td>{{ form_envases.marcas }}</td>
         </tr>
         <tr>
             <td colspan="3" class="text-center">
             </td>
             <td colspan="3" class="">
                 <button class="btn btn-dark" id="ingresar_envase">Agregar</button>
                 <button class="btn btn-danger" id="cancelar_envase">Cancelar</button>
             </td>
         </tr>
         </tbody>

     </table>

     <table id="tabla_envases" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
    <th width="4%"></th>
    <th class="text-right">Número</th>
    <th class="text-right">Unidad</th>
    <th class="text-right">Tipo</th>
    <th class="text-left">Movimiento</th>
    <th class="text-left">Términos</th>
    <th class="text-left">Cantidad</th>
    <th class="text-left">Precio</th>
    <th class="text-left">Marcas</th>
    <th class="text-left">Precinto</th>
    <th class="text-left">Tara</th>
    <th class="text-left">Bonifcli</th>
    <th class="text-left">Envase</th>
    <th class="text-left">Bultos</th>
    <th class="text-left">Peso</th>
    <th class="text-left">Profit</th>
    <th class="text-left">Contenedor</th>
    <th class="text-left">Volumen</th>
        </tr>

        </thead>
        <tbody>

        </tbody>
        <tfoot>
        </tfoot>
    </table>

    </form>
</div>