{% load static %}
{% load widget_tweaks %}
<style>

    #tabla_gastos tr:hover::after {
        content: 'Doble click para editar';
        color: #f9edbe;
        position: absolute;
        right: 10px;
        background-color: #333;
        padding: 5px;
        font-size: 12px;
        border-radius: 3px;
    }
</style>
<div id="gastos_modal" style="display: none;">

    <form id="gastos_form">

        <table class="table table-borderless" style="width: 100%">
            <tbody>
            <tr>
                <td style="text-align: right;">{{ form_gastos.compra_venta.label }}</td>
                <td>{{ form_gastos.id }}{{ form_gastos.compra_venta }}</td>
                <!-- COLUMNA DOS -->
                <td style="text-align: right;">{{ form_gastos.servicio.label }}</td>
                <td>{{ form_gastos.servicio }}</td>
                <!-- COLUMNA TREs -->
                <td></td>
                <td></td>
                <td style="text-align: right;">INGRESOS:</td>
                <td><input tabindex="-1" type="number" step="any" style="background-color: #99cc99;text-align: right;"
                           class="form-control" id="gastos_ingresos" required="false"></td>
            </tr>
            <tr>
                <td style="text-align: right;">{{ form_gastos.moneda.label }}</td>
                <td>{{ form_gastos.moneda }}</td>
                <!-- COLUMNA DOS -->
                <td style="text-align: right;">{{ form_gastos.importe.label }}</td>
                <td>{{ form_gastos.importe }}{{ form_gastos.arbitraje }}</td>
                <!-- COLUMNA TRES -->
                <td></td>
                <td></td>

                <td style="text-align: right;">EGRESOS:</td>
                <td><input tabindex="-1" type="number" class="form-control" step="any"
                           style="background-color: #DAD085;text-align: right;" id="gastos_egresos" required="false">
                </td>


            </tr>
            <tr>
                <td style="text-align: right;">{{ form_gastos.tipogasto.label }}</td>
                <td>{{ form_gastos.tipogasto }}</td>
                <!-- COLUMNA DOS -->
                <td style="text-align: right;">{{ form_gastos.pinformar.label }}</td>
                <td>{{ form_gastos.pinformar }}{{ form_gastos.secomparte }}</td>
                <!-- COLUMNA TRE -->
                <td></td>
                <td></td>

                <td style="text-align: right;">DIFERENCIA:</td>
                <td><input tabindex="-1" type="number" class="form-control" step="any"
                           style="background-color: #CC9393;text-align: right;" id="gastos_diferencia"></td>
            </tr>
            <tr>
                <td style="text-align: right;">{{ form_gastos.modo.label }}</td>
                <td>{{ form_gastos.modo }}</td>
                <!-- COLUMNA DOS -->
                <td style="text-align: right;">{{ form_gastos.socio.label }}</td>
                <td>{{ form_gastos.socio }}{{ form_gastos.notomaprofit }}</td>
                <!-- COLUMNA TRE -->
                <td style="text-align: right;"></td>
                <td>

                </td>
                <!-- COLUMNA TRE -->
                <td>

                </td>
                <td></td>
            </tr>
            <tr>
                <td style="text-align: right;"></td>
                <td colspan="3"></td>
                <td></td>
                <td colspan="2">
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-dark flex-fill mx-1" id="ingresar_gasto">Agregar</button>
                        <button class="btn btn-danger flex-fill mx-1" id="cancelar_gasto">Cancelar</button>
                    </div>
                </td>

                <td></td>
                <td></td>
            </tr>
            <tr>
            </tbody>

        </table>

        <table id="tabla_gastos" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th width="4%"></th>
                <th class="text-right">Servicio</th>
                <th class="text-right">Moneda</th>
                <th style="text-align: right;">Precio</th>
                <th style="text-align: right;">Costo</th>
                <th class="text-left">Detalle</th>
                <th class="text-left">Pago</th>
                <th class="text-left">Tipo de gasto</th>
                <th style="text-align: right;">Arbitraje</th>
                <th class="text-left">Ex.profit</th>
                <th class="text-left">Se comparte</th>
                <th style="text-align: right;">Informar</th>
                <th class="text-left">Socio comercial</th>
                <th class="text-left">Notas</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
            <tfoot>
            </tfoot>
        </table>

    </form>
</div>