{% load static %}
{% load widget_tweaks %}
<div id="logs_modal"  style="display: none;">
     <table id="tabla_logs" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th width="4%"></th>
            <th class="text-right">FECHA</th>
            <th class="text-right">USUARIO</th>
            <th class="text-left">TIPO</th>
            <th class="text-left">CONTENIDO</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>

